:root{
    --purple:#8500A6;
}



*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    position: relative;
    height: 100%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background-color: #fff;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    
}


header .logoImg {
    width: 25px;
    height: 23px;
    margin-right: 3px;
}

header .logoText {
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span {
    color:var(--purple);
}

header .navbar {
    display: flex;
    align-items: center;

}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
    
}

header .navbar a:hover{
    color:var(--purple);
}

header .navbar button {
    background-color: #4b0074;
    border: 2px solid #4b0074;
    border-radius: 15px;
    margin-left: 100px;
    padding: 4px 20px;
       

}

header .navbar button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid #4b0074;
}

header .navbar button a {
    color: rgb(255, 255, 255);
}

header .navbar button a:hover {
    color: #4b0074;

}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--purple);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display:none;
}



.dropdown {
    margin-top: 68px;
    padding: 50px 50px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index:2;
    width: 100%;
    display: none;
   

}

.navDropDown .courseLink:hover ~ .dropdown {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;

}



.dropdown ul {
    text-decoration: none;
    list-style-type: none;
    
}

.dropdown ul li h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color:#666;
}

.dropdown ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #666666b1;
}

.dropdown ul li a:hover {
    color:#2e2e2e;
}

header .navbar .courseLink:hover + .dropdown {
    display: block;

}

.main {
    position: relative;
    height: 1000px;
    padding-bottom: 100px;
}

footer {
    background-color: black;
    opacity: 68%;
    position: absolute;
    width:100%;
    margin-top: 149.25%;
}

footer .footLinks {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 30px 5%;
    padding-right: 50%;


}


.footLinks ul {
    text-decoration: none;
    list-style-type: none;
}



.footerL1, .footerL2{
    padding-right: 100px;

}



.footerL1 ul li h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
}

.footerL1 ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #ffffff;
}

.footerL1 ul li a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #ffffff93;
}


.footerL2 ul li h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.footerL2 ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #ffffff;
}

.footerL2 ul li a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #ffffff93;
}

footer .line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    height: 1px;
    background-color: #ffffff;
}

.footLinks2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 5%;
    
}

.footLinks2 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #ffffff;
    align-items: center;

}

.footLinks2 a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 60%;

}

.space {

    margin-left: 55%;
    margin-right: -5.5%;
}

.footLinks2 a:hover {
    background-color: #111;
    transition: 0.5s;
    
}


.footLinks2 a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footLinks2 a i:hover {
    color:white;
    transition: 0.5s;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polugon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0,100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    
    }
}

/* -- Content -- */
.main .bg {

    height: 100;
    width: 100;
}