:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1600px;
    height: 1602px;
    margin: 0 auto;
    font-size: 0px;
}
.course-title {
    display: block;
    position: relative;
    height: 46px;
    margin: 108px 0 0 223px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 45.96px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
}
.flex-row-ffc {
    position: relative;
    width: 1171px;
    height: 552.141px;
    margin: -7px 0 0 223px;
    z-index: 45;
}
.overview-box {
    position: absolute;
    width: 385px;
    height: 531px;
    top: 0;
    left: 786px;
    font-size: 0px;
    background: #ffffff;
    z-index: 11;
    box-shadow: -3px -4px 20px 0 rgba(0, 0, 0, 0.25);
}
.course-title-1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 353px;
    height: 61px;
    margin: 42px 0 0 14px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.576px;
    text-align: center;
    z-index: 12;
}
.organizer-contributor {
    position: relative;
    width: 320px;
    height: 23px;
    margin: 0 0 0 31px;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 13;
}
.by {
    position: relative;
    color: #000000;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: center;
}
.organizer {
    position: relative;
    color: #8400a5;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: center;
}
.by-2 {
    position: relative;
    color: #000000;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: center;
}
.contributor {
    position: relative;
    color: #8400a5;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: center;
}
.flex-row-aad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 318px;
    height: 30px;
    margin: 9px 0 0 33px;
    z-index: 33;
}
.category-logo {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/84b5aebf194b5cdbe3c4e1317a84a4ad06622d4c.png)
        no-repeat center;
    background-size: cover;
    z-index: 33;
}
.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 271px;
    height: 30px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    z-index: 32;
}
.flex-row-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 318px;
    height: 30px;
    margin: 16px 0 0 33px;
    z-index: 30;
}
.experience-level-logo {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/a36a824f9df875585ea32f806efde7e399c3a5a4.png)
        no-repeat center;
    background-size: cover;
    z-index: 30;
}
.experience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 271px;
    height: 30px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    z-index: 29;
}
.flex-row-ae {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 319px;
    height: 30px;
    margin: 16px 0 0 33px;
    z-index: 27;
}
.skills-logo {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/85a99493d935f7bfa40ff18c9dd85f09ae41eefe.png)
        no-repeat center;
    background-size: cover;
    z-index: 27;
}
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 271px;
    height: 30px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    z-index: 26;
}
.skill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 271px;
    height: 30px;
    margin: 0 0 0 80px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: left;
    z-index: 25;
}
.skill2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 271px;
    height: 30px;
    margin: 0 0 0 81px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.384px;
    text-align: left;
    z-index: 24;
}
.flex-row-ccb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 315px;
    height: 30px;
    margin: 16px 0 0 33px;
    z-index: 22;
}
.duration-logo {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/211c40d0394ac56f35ab3bf626141dba83dde349.png)
        no-repeat center;
    background-size: cover;
    z-index: 22;
}
.duration {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 271px;
    height: 30px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    z-index: 21;
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 315px;
    height: 30px;
    margin: 16px 0 0 33px;
    z-index: 19;
}
.price-logo {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/images/be960a88098aa19d03cf2cfa4b7d1f9b71401b49.png)
        no-repeat center;
    background-size: cover;
    z-index: 19;
}
.price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 271px;
    height: 30px;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    z-index: 18;
}
.button {
    position: relative;
    width: 319px;
    height: 54px;
    margin: 32px 0 0 33px;
    background: url(./assets/images/0c002618-4d27-4bf8-b68d-bdb782dae07b.png)
        no-repeat center;
    background-size: cover;
    z-index: 15;
}
.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 319px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: #8500A6;
    color: #FFFFFF;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.576px;
    text-align: center;
    z-index: 16;
}
.synopsis {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 700px;
    height: 76px;
    top: 33px;
    left: 0;
    color: #3d3d3d;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    text-align: left;
    z-index: 45;
}
.box {
    position: absolute;
    width: 410px;
    height: 32px;
    top: 121px;
    left: 0;
    z-index: 35;
}
.review-amount {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 32px;
    top: 0;
    left: 212px;
    color: #8400a5;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.576px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}
.rating-score {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 32px;
    top: 0;
    left: 169px;
    color: #8400a5;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 27.576px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
}
.star {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 128px;
    background: url(./assets/images/4ce6048a-fd92-4adb-a1d4-70ed7f1a32dd.png)
        no-repeat center;
    background-size: cover;
    z-index: 38;
}
.star-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 96px;
    background: url(./assets/images/52df4c5a-0a10-46b5-bfb4-af985bf2955e.png)
        no-repeat center;
    background-size: cover;
    z-index: 39;
}
.star-5 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 64px;
    background: url(./assets/images/0a19cfff-0942-41e4-a6d6-d6bfdad5a7e6.png)
        no-repeat center;
    background-size: cover;
    z-index: 40;
}
.star-6 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 32px;
    background: url(./assets/images/864226c2-5f39-4e4d-9723-c2de54bee7b3.png)
        no-repeat center;
    background-size: cover;
    z-index: 41;
}
.star-7 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background: url(./assets/images/e14340ca-1fc8-4a7d-9372-b867d3309f5f.png)
        no-repeat center;
    background-size: cover;
    z-index: 42;
}
.course-image {
    position: absolute;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
    width: 700px;
    height: 369.141px;
    top: 183px;
    left: 0;
    overflow: hidden;
    z-index: 44;
}

.course-image img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}
.background {
    position: absolute;
    width: 1600px;
    height: 1602px;
    top: 0;
    left: 0;
    background: url(./assets/images/5fbc49be-e943-48b6-a533-051d40258782.png)
        no-repeat center;
    background-size: cover;
}
.flex-row-abc {
    position: absolute;
    width: 1213px;
    height: 652px;
    top: 872px;
    left: 209px;
    z-index: 43;
}
.divider {
    position: absolute;
    width: 2px;
    height: 653px;
    top: -1px;
    left: 590.5px;
    background: url(./assets/images/d910eed2-ed77-40cc-9b3b-a516c1fd7e6d.png)
        no-repeat center;
    background-size: cover;
    z-index: 43;
}
.objective {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 477px;
    height: 299px;
    top: 142px;
    left: 736px;
    color: #ffffff;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    text-align: justified;
    text-overflow: ellipsis;
    z-index: 5;
    overflow: hidden;
}
.module-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 575px;
    height: 471px;
    top: 146px;
    left: 0;
    color: #ffffff;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 36.768px;
    text-align: left;
    z-index: 8;
    line-height: 2.0;
}
.button-8 {
    position: absolute;
    width: 477px;
    height: 98px;
    top: 519px;
    left: 736px;
    background: url(./assets/images/2ffaf642-e1c8-40a5-9685-487d887fa0e8.png)
        no-repeat center;
    background-size: cover;
    z-index: 2;
}
.join-course-now {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 477px;
    height: 98px;
    top: 0;
    left: 0;
    color: #8400a5;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 41.364px;
    text-align: center;
    z-index: 3;
}
.flex-row-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 1063px;
    height: 45px;
    top: 906px;
    left: 223px;
    z-index: 9;
}
.modules {
    flex-shrink: 0;
    position: relative;
    height: 45px;
    color: #ffffff;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 9;
}
.objectives {
    flex-shrink: 0;
    position: relative;
    height: 45px;
    color: #ffffff;
    font-family: Ubuntu, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 6;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height:100vh;
    background: rgba(0,0,0,0.7);
    z-index: 47;
    display:none;
}

.popup.active .overlay {
    display:block;
}

.popup.deactivate .overlay {
    visibility: hidden;
}

.popup .content {
    font-family: Ubuntu, var(--default-font-family);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 165px;
    z-index:48;
    text-align:center;
    padding: 20px;
    box-sizing:border-box;
}

.popup .close-btn {
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:500;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}