<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->



<root>
    
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>com.org.myservlet/ProductsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>

</root>

