/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 Apr 2024, 3:25:16 PM
    Author     : sumsn
*/
:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 375px;
    height: 348px;
    margin: auto;
    margin-top:12%;
    background-color:#B589D6;
    border-radius: 34px;
}
.paragraph-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
  width: 237px;
  height: 38px;
  margin: 0 0 0 69px;
  z-index: 4;
}
.group-1 {
  flex-shrink: 0;
  position: relative;
  width: 237px;
  height: 32px;
  z-index: 5;
}
.staff-login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 32px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Ubuntu, var(--default-font-family);
  font-size: 29px;
  font-weight: 700;
  line-height: 31.9px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.staff-id {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 36px;
  color: #000000;
  font-family: Ubuntu, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.flex-row-ae {
  position: relative;
  width: 292px;
  height: 30px;
  margin: -3px 0 0 36px;
  z-index: 16;
}
.label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 16.279px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 15;
  overflow: hidden;
}
.field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 292px;
  height: 27px;
  top: 1.5px;
  left: 0;
  padding: 8px 16px 8px 16px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  z-index: 16;
  border-radius: 8px;
}
.username {
  display: block;
  position: relative;
  height: 24px;
  margin: 9px 0 0 36px;
  color: #000000;
  font-family: Ubuntu, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.flex-row-eb {
  position: relative;
  width: 292px;
  height: 30px;
  margin: -3px 0 0 36px;
  z-index: 18;
}
.label-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 16px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 17;
  overflow: hidden;
}
.field-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 292px;
  height: 27px;
  top: 1.5px;
  left: 0;
  padding: 8px 16px 8px 16px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  z-index: 18;
  border-radius: 8px;
}
.input-field-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 224px;
  margin: 7px 0 0 36px;
  z-index: 8;
}
.group-4 {
  flex-shrink: 0;
  position: relative;
  width: 295px;
  height: 24px;
  z-index: 9;
}
.password-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Ubuntu, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.flex-row {
  position: relative;
  width: 292px;
  height: 30px;
  margin: -4px 0 0 36px;
  z-index: 13;
}
.placeholder-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 16px;
  color: #828282;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 12;
  overflow: hidden;
}
.input-field {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: absolute;
  width: 292px;
  height: 27px;
  top: 1.5px;
  left: 0;
  padding: 8px 16px 8px 16px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  z-index: 13;
  border-radius: 8px;
}
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 87px;
  height: 33px;
  margin: 43px 0 0 136px;
  padding: 0 16px 0 16px;
  cursor: pointer;
  background: #eeeeee;
  border: none;
  z-index: 1;
  border-radius: 8px;
}
.section-3 {
  flex-shrink: 0;
  position: relative;
  width: 51px;
  height: 24px;
  z-index: 2;
}
.text-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  font-family:ubuntu,sans-serif;
}

.link-container{
    margin-left:35px;
}