<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>AddStaffDetails</servlet-name>
        <servlet-class>staffServlets.AddStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>productsServlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProducts</servlet-name>
        <servlet-class>productsServlet.AddNewProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>productsServlet.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>productsServlet.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaffDetails</servlet-name>
        <url-pattern>/AddStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerRegister</servlet-name>
        <servlet-class>Servlets.CustomerRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerRegister</servlet-name>
        <url-pattern>/CustomerRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerConfirmation</servlet-name>
        <servlet-class>Servlets.CustomerConfirmation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerConfirmation</servlet-name>
        <url-pattern>/CustomerConfirmation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>Servlets.CustomerLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustForgotPassword</servlet-name>
        <servlet-class>Servlets.CustForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustForgotPassword</servlet-name>
        <url-pattern>/CustForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustResetPassword</servlet-name>
        <servlet-class>Servlets.CustResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustResetPassword</servlet-name>
        <url-pattern>/CustResetPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>Servlets.CustomerLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/CustomerLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProducts</servlet-name>
        <url-pattern>/AddNewProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>cardServlet</servlet-name>
        <servlet-class>paymentServlet.cardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cardServlet</servlet-name>
        <url-pattern>/cardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ewalletServlet</servlet-name>
        <servlet-class>paymentServlet.ewalletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ewalletServlet</servlet-name>
        <url-pattern>/ewalletServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>confirmpayment</servlet-name>
        <servlet-class>paymentServlet.confirmpayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmpayment</servlet-name>
        <url-pattern>/confirmpayment</url-pattern>
    </servlet-mapping>
    
</web-app>
