<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>AddStaffDetails</servlet-name>
        <servlet-class>staffServlets.AddStaffDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>productsServlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaffDetails</servlet-name>
        <url-pattern>/AddStaffDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustomerRegister</servlet-name>
        <servlet-class>Servlets.CustomerRegister</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CustomerRegister</servlet-name>
        <url-pattern>/CustomerRegister</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustomerConfirmation</servlet-name>
        <servlet-class>Servlets.CustomerConfirmation</servlet-class>
    </servlet>
         
    <servlet-mapping>
        <servlet-name>CustomerConfirmation</servlet-name>
        <url-pattern>/CustomerConfirmation</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>Servlets.CustomerLogin</servlet-class>
    </servlet>
         
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustForgotPassword</servlet-name>
        <servlet-class>Servlets.CustForgotPassword</servlet-class>
    </servlet>
         
    <servlet-mapping>
        <servlet-name>CustForgotPassword</servlet-name>
        <url-pattern>/CustForgotPassword</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CustResetPassword</servlet-name>
        <servlet-class>Servlets.CustResetPassword</servlet-class>
    </servlet>
         
    <servlet-mapping>
        <servlet-name>CustResetPassword</servlet-name>
        <url-pattern>/CustResetPassword</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>Servlets.CustomerLogout</servlet-class>
    </servlet>
         
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/CustomerLogout</url-pattern>
    </servlet-mapping>

</web-app>
